$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";



#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.description {
  margin-top: 0;
}

.well a {
  color: #073B15;
}

.chef_info {
  margin-top: 10px;
}
.colormatch a {
  color: #073B15;
}